/* CSS Document */

body{
	background:#999;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;	
}
#container{
	background-color:#FFF;
	width:50%;
	padding:10px;
	margin:20px;
	margin-left:auto;
	margin-right:auto;
}
.page_content{
	margin:15px;
	padding:5px;
	border-bottom:1px solid #CCC;
}
.comment_input{
	background:#CCC;
	margin:10px;
	padding:10px;
	border:1px solid #CCC;
}

.button{
	padding:5px 15px 5px 15px;
    background:#567373;
    color: #FFF;
	border-radius: 3px;
	
}

.button:hover{
	background:#4D9494;
}

a{
	text-decoration:none;
}

.comment_logs{
	margin:5px;
	padding:5px;
	/* border:1px solid #CCC; */
	background-color: #fff !important;
}
#comment_logs{

	/* background-color: aliceblue; */
}

.comments_content{
	margin:10px;
	padding:15px;
	/* border:1px solid #CCC; */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
	
}
.comments_profile{
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
	padding: 15px;
}
.comments_content > h1{
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	color:#000 !important;
	padding-bottom:0px;
	margin-bottom:0px;
}
.comments_content > h2{
	font-size:10px;
	font-family:Verdana, Geneva, sans-serif;
	color:#999 !important;
	padding-top: 5px;
}

.comments_content > h3{
	font-size:12px !important;
	font-family:Verdana, Geneva, sans-serif;
	color:#000 !important;
	padding-top: 20px;
	padding-bottom: 30px;
}
.comments_content > br{
	/* font-size:10px; */
	display: none;
}



.comments_profile > h1{
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	color:#000 !important;
	padding-bottom:0px;
	margin-bottom:0px;
}
.comments_profile > h2{
	font-size:10px;
	font-family:Verdana, Geneva, sans-serif;
	color:#999 !important;
	padding-top: 5px;
}

.comments_profile > h3{
	font-size:12px !important;
	font-family:Verdana, Geneva, sans-serif;
	color:#000 !important;
	padding-top: 20px;
	padding-bottom: 30px;
}

.comments_profile >tr > td{
font-size: 10px;
}
.table_style{
	font-size: 12px;
}


.comments_basic_info > h1{
	font-size:20px;
	font-family:Verdana, Geneva, sans-serif;
	color:#000 !important;
	padding-bottom:0px;
	margin-bottom:0px;
	font-weight: 600;
}
.comments_basic_info > h2{
	font-size:10px;
	font-family:Verdana, Geneva, sans-serif;
	color:#999 !important;
	padding-top: 5px;
}

.comments_basic_info > h3{
	font-size:12px !important;
	font-family:Verdana, Geneva, sans-serif;
	color:#000 !important;
	padding-top: 20px;
	padding-bottom: 30px;
}



h1{
	font-size:16px;
	font-family:Verdana, Geneva, sans-serif;
	color:#4040E6;
	padding-bottom:0px;
	margin-bottom:0px;
}
h2{
	font-size:10px;
	font-family:Verdana, Geneva, sans-serif;
	color:#CECED6;
}
h3{
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	color:#75A3A3;
	padding-bottom:5px;
	margin-bottom:5px
}
h4{
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
	color:#CECED6;
	text-decoration:none;
	float:right;
}